#root {
  max-width: 1280px;
  margin: 0 auto;

  padding: 2rem;
  text-align: center;
}

.form input {
  padding: 1rem 2rem;
  margin-right: 0.5rem;

  border: 1px solid #ccc;
  border-radius: 4px;

  font-size: 1rem;
}

.lista-tarefas {
  margin-top: 3rem;
  list-style-position: inside;
  padding-inline-start: 0;

  & li {
    list-style: none;
    margin-bottom: 0.8rem;
  }
}
